.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo__header {
  width: 120px;
  object-fit: contain;
  margin: 0 2px;
  margin-top: 18px;
}
.header__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 18px;
  width: 25vw;
}
.header_rightMin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 18px;
  width: 18vw;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  outline: none;
}

.home__name1 {
  color: white;
  font-size: large;
}
.home__name2 {
  color: rgba(57, 151, 213, 1);
  font-size: large;
}
.button {
  background: transparent;
  border: 2px solid;
  margin-top: 10px;
  margin-left: 10px;
  border-color: #3997d5 #5b9fcc #052e49;
  color: white;
  border-radius: 2px;
  width: 100px !important;
  height: 30px;
  font-size: 18px;
  padding: 2px;
  cursor: pointer;
}
.button__pric {
  background: transparent;
  border: 2px solid;
  margin-top: 10px;
  border-color: #3997d5 #5b9fcc #052e49;
  color: white;
  border-radius: 2px;
  width: 100px !important;
  height: 30px;
  font-size: 18px;
  padding: 2px;
  cursor: pointer;
  
}
.button:hover {
  background-color: #3997d5;
  border: none;
}

.button__pric:hover {
  background-color: #3997d5;
  border: none;
}

.link__header,
.link__header:hover,
.link__header:active,
.link__header:visited,
.link__header:focus {
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: "none" !important;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  align-items: center;
}
.header__optionLineOne {
  font-size: 10px;
  color: white;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: bolder;
  color: #3997d5;
}
