
.back__home{
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
/* Add the blur effect */
   filter: blur(3px);
  -webkit-filter: blur(3px);

}

.home__descr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__descr > h1 {
    font-size: 50px;
    padding: 5px;
    margin-bottom: 5px;
}
.home__descr > h2{
    text-align: center;
    font-weight: 100;
    margin-bottom: 5px;
    font-style: italic;
}
.home__descr >h3{
    margin-bottom: 5px;
}
.home__descr > button{
    background: rgb(57, 151, 213);
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 6px;
    width: 60%;
    height: 30px;
    border: 1px solid;
    margin-top: 20px;
    border-color: rgb(57, 151, 213) rgba(57, 151, 213, 0.781) rgba(57, 151, 213, 0.61);
    color: white;
    font-size: large;
    cursor: pointer;
}
.home__descr > button:hover{
    border-color: rgb(57, 151, 213) rgba(57, 151, 213, 0.781) rgba(57, 151, 213, 0.61);
    background-color: transparent;
    color: rgb(57, 151, 213);
    font-weight: bold;
}