.sideIcon{
   
    width: 70%;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
 .sideIcon:hover{
    
    color: #3997d7;

}
